.new-product-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    align-items: flex-start;
}

.product-heading {
    width:100%;
    font: 400 1.5rem "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-heading::after {
    content: "";
    padding-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-align: center;
    margin: 0 auto;
    width: 20%;
}

.product-form {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 100%;
    transition: all 0.5s;
    gap: 1.2rem;
}

@media screen and (max-width: 600px) {

}