.auth-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.auth-update-box {
    background-color: white;
    width: 25vw;
    height: 70vh;
    overflow: hidden;
}

.auth-update-box>div>button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 100%;
    transition: all 0.5s;
}

.update-form>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6);
    font: 300 1.5rem "Roboto";
}

.update-form>h2::after {
    display: block;
    content: "";
    width: 120%;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.update-form>div {
    display: flex;
    align-items: center;
}

.update-old-password,
.update-new-password,
.update-confirm-passwordd {
    width: 100%;
}

.update-old-password>.MuiTextField-root,
.update-new-password>.MuiTextField-root,
.update-confirm-passwordd>.MuiTextField-root {
    width: 100%;
}

/* .login-form>div>input,
.update-form>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.26);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
} */

@media screen and (max-width: 600px) {
    .auth-container {
        background-color: white;
    }

    .auth-update-box {
        width: 100vw;
    }
}